{% include 'pages/venda/layout_barista.html' %}
{% load static %}
{% block content %}
<section class="section-atendimento">
    <hr class="cordao">
    {% for pedido in pedidos %}
    <form action="{% url 'barista:finalizar_pedido' pedido.numero %}" method="POST" class="card-atendimento">
        {% csrf_token %}
        <section class="prendedor"></section>
        <section class="pedido-card pb-0">
            <h4><b>Pedido #{{ pedido.numero }}</b></h4>
            <hr class="mb-1">
            <div class="pedido-descricao">{{ pedido.descricao|safe }}</div>
            <hr>
        </section>
        <section class="d-flex flex-row p-3 pt-0 justify-content-between">
            <input type="text" name="numero" value="{{ pedido.numero }}" hidden>
            <button type="submit" name="finalizar" value="true" class="btn btn-verde px-3">Finalizar</button><button class="btn btn-vermelho px-3" name="cancelar" type="submit" value="true">Cancelar</button>
        </section>
    </form>
    {% endfor %}
</section>
<section class="pedidos-concluidos" id="section-concluidos">
    {% for pedido in pedidos_concluidos %}
    <div>
        <a onclick="expandir(this)" class="btn btn-concluidos btn-marrom my-2" data-bs-toggle="collapse" href="#finalizados-{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapseExample">#{{ pedido.numero }}</a>
        <div class="collapse p-3" id="finalizados-{{ forloop.counter }}">
            <div class="card card-body">
                <h4><b>Pedido #{{ pedido.numero }}</b></h4>
                <hr class="mb-1">
                <div class="pedido-descricao descricao-concluidos">{{ pedido.descricao|safe }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- Modal -->
<div class="modal fade" id="encerrar-turno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content py-5 px-1">
            <div class="modal-body text-center finalizar">
                <h4 class="mb-5"><b>Deseja realmente encerrar o turno?</b></h4>
                <a href="{% url 'login' %}" class="btn btn-verde mb-3 w-50 mx-auto"><b>Encerrar</b></a>
                <button type="button" class="btn btn-vermelho w-50 mx-auto" data-bs-dismiss="modal"><b>Cancelar</b></button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/tela_atendimento.js' %}"></script>
{% endblock scripts %}