{% load static %}
{% include 'partials/head.html' %}
<title>Zé Cafés</title>
<link rel="stylesheet" href="{% static 'css/venda.css' %}">
<nav class="navbar-venda navbar navbar-expand-lg nav_tabs fixed-top">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <input type="radio" id="cafes" class="rd_tab" name="tabs" checked>
            <label for="cafes" class="tab_label">Café</label>
            <section class="tab-content section-produtos row me-0">
                <section class="row cards-produtos col-sm-9">
                    {% for produto in cafes %}
                    <section class="col-4" onclick="scrollIntoView({behavior: 'smooth'})">
                        <div {% if produto.disponivel %}onclick="selecionar_produto(this)"{% endif %} class="card" {% if not produto.disponivel %}style="cursor: default;"{% else %}style="cursor: pointer"{% endif %}>
                            <input class="produto_selecionado" type="text" hidden>
                            <input class="tipo_produto" type="text" hidden value="{{ produto.tipo }}">
                            {% if not produto.disponivel %}
                            <div class="div-indisponivel">Indisponível</div>
                            {% endif %}
                            <img {% if not produto.disponivel %}style="filter: grayscale(1);"{% endif %} class="card-img-top" src="{% static 'images/' %}{{ produto.imagem }}" alt="Card image cap">
                            <div class="card-body p-0"></div>
                            <div class="card-footer border-0 bg-white">
                                <p class="card-text">{{ produto.nome }}</p>
                                <p class="card-text valor-venda">{{ produto.valor }}</p>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                </section>
            </section>
        </li>
        <li class="nav-item">
            <input type="radio" id="bebidas" class="rd_tab" name="tabs">
            <label for="bebidas" class="tab_label">Bebidas</label>
            <section class="tab-content section-produtos row me-0">
                <section class="row cards-produtos col-sm-9">
                    {% for produto in bebidas %}
                    <section class="col-4" onclick="scrollIntoView({behavior: 'smooth'})">
                        <div {% if produto.disponivel %}onclick="selecionar_produto(this)"{% endif %} class="card" {% if not produto.disponivel %}style="cursor: default;"{% else %}style="cursor: pointer"{% endif %}>
                            <input class="produto_selecionado" type="text" hidden>
                            <input class="tipo_produto" type="text" hidden value="{{ produto.tipo }}">
                            {% if not produto.disponivel %}
                            <div class="div-indisponivel">Indisponível</div>
                            {% endif %}
                            <img {% if not produto.disponivel %}style="filter: grayscale(1);"{% endif %} class="card-img-top" src="{% static 'images/' %}{{ produto.imagem }}" alt="Card image cap">
                            <div class="card-body p-0"></div>
                            <div class="card-footer border-0 bg-white">
                                <p class="card-text">{{ produto.nome }}</p>
                                <p class="card-text valor-venda">{{ produto.valor }}</p>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                </section>
            </section>
        </li>
        <li class="nav-item">
            <input type="radio" id="lanches" class="rd_tab" name="tabs">
            <label for="lanches" class="tab_label">Lanches</label>
            <section class="tab-content section-produtos row me-0">
                <section class="row cards-produtos col-sm-9">
                    {% for produto in lanches %}
                    <section class="col-4" onclick="scrollIntoView({behavior: 'smooth'})">
                        <div {% if produto.disponivel %}onclick="selecionar_produto(this)"{% endif %} class="card" {% if not produto.disponivel %}style="cursor: default;"{% else %}style="cursor: pointer"{% endif %}>
                            <input class="produto_selecionado" type="text" hidden>
                            <input class="tipo_produto" type="text" hidden value="{{ produto.tipo }}">
                            {% if not produto.disponivel %}
                            <div class="div-indisponivel">Indisponível</div>
                            {% endif %}
                            <img {% if not produto.disponivel %}style="filter: grayscale(1);"{% endif %} class="card-img-top" src="{% static 'images/' %}{{ produto.imagem }}" alt="Card image cap">
                            <div class="card-body p-0"></div>
                            <div class="card-footer border-0 bg-white">
                                <p class="card-text">{{ produto.nome }}</p>
                                <p class="card-text valor-venda">{{ produto.valor }}</p>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                </section>
            </section>
        </li>
        <li class="nav-item">
            <input type="radio" id="sobremesas" class="rd_tab" name="tabs">
            <label for="sobremesas" class="tab_label">Sobremesas</label>
            <section class="tab-content section-produtos row me-0">
                <section class="row cards-produtos col-sm-9">
                    {% for produto in sobremesas %}
                    <section class="col-4" onclick="scrollIntoView({behavior: 'smooth'})">
                        <div {% if produto.disponivel %}onclick="selecionar_produto(this)"{% endif %} class="card" {% if not produto.disponivel %}style="cursor: default;"{% else %}style="cursor: pointer"{% endif %}>
                            <input class="produto_selecionado" type="text" hidden>
                            <input class="tipo_produto" type="text" hidden value="{{ produto.tipo }}">
                            {% if not produto.disponivel %}
                            <div class="div-indisponivel">Indisponível</div>
                            {% endif %}
                            <img {% if not produto.disponivel %}style="filter: grayscale(1);"{% endif %} class="card-img-top" src="{% static 'images/' %}{{ produto.imagem }}" alt="Card image cap">
                            <div class="card-body p-0"></div>
                            <div class="card-footer border-0 bg-white">
                                <p class="card-text">{{ produto.nome }}</p>
                                <p class="card-text valor-venda">{{ produto.valor }}</p>
                            </div>
                        </div>
                    </section>
                    {% endfor %}
                </section>
            </section>
        </li>
        </ul>
    </div>
</nav>
<form action="" method="POST">
{% csrf_token %}
<body class="main-venda">
    <main>
        <section class="section-pedido col-3">
            <section class="titulo-pedido d-flex" id="pedido"><h5><b>Pedido: #</b></h5><h5 id="pedido-numero"></h5></section>
            <section class="pedidos" id="pedidos-adicionados"></section>
            <input type="text" hidden name="numero" id="input-pedido-numero">
            <input type="text" hidden name="descricao" id="input-pedidos-adicionados">
            <input type="text" hidden name="valor" id="input-pedido-valor">
            <section class="total d-flex"><h5><b>Total:</b></h5><h5 class="ms-auto">R$</h5><h5 id="total-pedido">0,00</h5></section>
            <section><button type="button" class="btn botao-pedido-finalizar" onclick="abrir_modal_finalizar()">Finalizar</button></section>
        </section>
        <section id="section-preferencias" class="section-preferencias" style="display: none;">
            <section class="row">
                <section class="col-4">
                    <section class="titulo-preferencias opcionais d-flex flex-row"><p>Tamanho</p></section>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="tamanhoP"><input class="opcionais form-check-input" type="radio" name="tamanhos" id="tamanhoP" value="Pequeno" checked><span>P</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="tamanhoM"><input class="opcionais form-check-input" type="radio" name="tamanhos" id="tamanhoM" value="Médio"><span>M</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="tamanhoG"><input class="opcionais form-check-input" type="radio" name="tamanhos" id="tamanhoH" value="Grande"><span>G</span></label>
                    </div>
                    <section class="titulo-preferencias"><p>Temperatura</p>
                        <section class="d-flex flex-row">
                            <img width="40px" src="{% static 'images/gelo.png' %}" alt="">
                            <div class="form-check form-switch ms-2 me-1 mt-1">
                                <input class="form-check-input" type="checkbox" id="temperatura" checked>
                                <label class="form-check-label" for="temperatura"></label>
                            </div>
                            <img width="40px" src="{% static 'images/fogo.png' %}" alt="">
                        </section>
                    </section>
                </section>
                <section class="col-4">
                    <section class="titulo-preferencias opcionais d-flex flex-row"><p>Açúcar</p>
                        <div class="form-check form-switch ms-2">
                            <input class="form-check-input" type="checkbox" id="acucar-btn">
                            <label class="form-check-label" for="acucar"></label>
                        </div>
                    </section>
                    <div class="acucar">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="acucarP"><input class="opcionais form-check-input" type="radio" name="acucares" id="acucarP" value="Açúcar - P" disabled checked><span>P</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="acucarM"><input class="opcionais form-check-input" type="radio" name="acucares" id="acucarM" value="Açúcar - M" disabled><span>M</span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="acucarG"><input class="opcionais form-check-input" type="radio" name="acucares" id="acucarG" value="Açúcar - G" disabled><span>G</span></label>
                        </div>
                    </div>
                    <section class="titulo-preferencias"><p>Para Levar</p>
                        <section class="d-flex flex-row">
                            <img width="40px" src="{% static 'images/levar1.png' %}" alt="">
                            <div class="form-check form-switch ms-2 me-1 mt-1">
                                <input class="form-check-input" type="checkbox" id="levar">
                                <label class="form-check-label" for="levar"></label>
                            </div>
                            <img width="40px" src="{% static 'images/levar2.png' %}" alt="">
                        </section>
                    </section>
                </section>
                <section class="col-4">
                    <section class="titulo-preferencias d-flex flex-row mt-0"><p>Observações</p>
                        <div class="form-check form-switch ms-2">
                            <input class="form-check-input" type="checkbox" id="botao-obs">
                            <label class="form-check-label" for="botao-obs"></label>
                        </div>
                    </section>
                    <textarea id="observacoes" class="form-control" rows="5" disabled></textarea>
                </section>
            </section>
        </section>
        <section id="section-venda-acoes" style="display: none;" class="section-venda-acoes row">
            <div class="col qty mt-3">
                <span class="minus">-</span>
                <input type="number" class="count" name="qty" value="1">
                <span class="plus">+</span>
            </div>
            <section class="col mt-3 me-2 float-end d-flex flex-row justify-content-end">
                <h4 class="mt-2 me-1">R$</h4><h4 id="valor-total" class="mt-2 me-5"></h4>
                <button type="button" onclick="fechar_produto()" id="cancelar-produto" class="me-3 btn botao-pedido-cancelar btn-vermelho">Cancelar</button>
                <button type="button" id="adicionar-produto" class="btn botao-pedido-adicionar btn-verde">Adicionar</button>
            </section>
        </section>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="finalizar-pedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content py-5 px-1">
                <div class="modal-body text-center finalizar">
                    <h4 class="mb-5"><b>Finalizar pedido?</b></h4>
                    <div class="d-flex flex-column">
                        <button type="button" class="btn btn-verde mb-3 w-50 mx-auto" data-bs-toggle="modal" data-bs-target="#pagamento"><b>Confirmar</b></button>
                        <button type="button" class="btn btn-vermelho w-50 mx-auto" data-bs-dismiss="modal"><b>Voltar</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="pagamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content py-5 px-1">
                <div class="modal-body text-center pagamento">
                    <h4 class="mb-5"><b>Método de Pagamento</b></h4>
                    <div class="d-flex flex-column">
                        <button type="button" class="btn mx-auto d-flex justify-content-between cartao" data-bs-toggle="collapse" href="#credito-debito" role="button" aria-expanded="false" aria-controls="credito-debito"><img src="{% static 'images/cartao.png' %}" alt=""> Crédito/Débito</button>
                        <div class="collapse opcoes-cartao" id="credito-debito">
                            <div class="card card-body border-0 py-1">
                                <button type="submit" name="metodo" value="1" class="btn my-1 mx-auto">Crédito</button>
                                <button type="submit" name="metodo" value="2" class="btn mx-auto">Débito</button>
                            </div>
                        </div>
                        <button type="submit" name="metodo" value="3" class="btn mt-3 mx-auto pix"><img src="{% static 'images/pix.png' %}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</form>
{% if messages %}
<div class="tela-sucesso bg-success text-center d-flex text-white vw-100 vh-100" id="tela-sucesso">
    <h2 class="my-auto mx-auto"><b>Seu pedido foi feito com sucesso!</b></h2>
</div>
<script>
    $(document).ready(function(){
        setTimeout(() => {document.getElementById('tela-sucesso').style = "transition: opacity 1s ease-out; opacity: 0;"}, 3000);
        setTimeout(() => {document.getElementById('tela-sucesso').style = "display: none !important;"}, 4000);
    });
</script>
{% endif %}
<script src="{% static 'js/tela_venda.js' %}"></script>