{% load static %}
{% load crispy_forms_tags %}
{% include 'partials/head.html' %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<body class="main-coffee">
    <main>
        <a class="btn-tela-vendas ms-auto btn btn-claro shadow p-3 px-4" href="{% url 'barista:tela_venda' %}">Tela de Vendas</a>
        <form action="" method="POST">
            {% csrf_token %}
            <section class="container-login">
                <img class="mx-auto" src="{% static 'images/coffee_icon.png' %}" alt="">
                <h1>Zé Cafés</h1>
                {% if messages %}
                    {% for message in messages %}
                        <section class="alert alert-danger mb-0" role="alert">{{ message }} </section>
                    {% endfor %}
                {% endif %}
                <div class="form-floating">
                    <input name="chave_seguranca" type="text" class="form-control" id="id_chave_seguranca" placeholder="Chave de Segurança">
                    <label for="floatingInput">Chave de Segurança</label>
                    <i class="fas fa-key chave_seguranca"></i>
                </div>
                <button type="submit" class="btn btn-verde">Acessar</button>
            </section>
        </form>
    </main>
</body>