{% include 'pages/gerente/layout_gerente.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<title>Cadastrar Barista</title>
<section class="section-baristas section-cadastro">
    <form class="form-prevent-multi-submits" action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <section><h5><b>Cadastrar Barista</b></h5></section>
        <br>
        <section class="row">
            <section class="col-sm-3">
                <section class="section-foto">
                    <section class="perfil-container m-0" id="input_foto">
                        <img id="perfil-preview" class="position-relative">
                    </section>
                    <section class="mt-2">{{ conta.foto }}</section>
                    <section class="label-foto pb-3 pt-1">
                        <label for='id_foto' class="btn btn-sm w-100 text-center text-decoration-none" required>Carregar foto</label>
                    </section>
                </section>
            </section>
            <section class="col-sm-9">
                <section class="">
                    <input name="nome" type="text" class="form-control" id="id_nome" placeholder="Nome" required>
                </section>
                <section class="my-3">
                    <input maxlength="12" name="cpf" type="text" class="form-control" id="id_cpf" placeholder="CPF" required>
                </section>
                <section class="row">
                    <section class="col-sm-6">
                        <section class="">
                            <input maxlength="14" style="text-indent:35px;" name="telefone" type="text" class="form-control" id="id_telefone" placeholder="Telefone" required>
                            <i class="fa-solid fa-phone icone"></i>
                        </section>
                    </section>
                    <section class="col-sm-6">
                        <section class="">
                            <input style="text-indent:35px;" name="data_nascimento" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="id_data_nascimento" placeholder="Data de Nascimento" required>
                            <i class="fa-solid fa-calendar-days icone"></i>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="my-3">
            <input name="email" type="text" class="form-control" id="id_email" placeholder="E-mail" required>
        </section>
        <section class="my-3">
            <input name="email_confirmar" type="text" class="form-control" id="id_email_confirmar" placeholder="Confirmar E-mail" required>
        </section>
        <section class="d-flex flex-row pt-0 w-50 ms-auto">
            <a href="{% url 'barista:lista-baristas' %}" class="btn btn-vermelho w-100 me-2">Cancelar</a>
            <button type="submit" class="btn btn-verde w-100 me-1">Cadastrar</button>
        </section>
    </form>
</section>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/cadastro_barista.js' %}"></script>
<script src="{% static 'js/mascaras.js' %}"></script>
<script>
    $('#id_data_nascimento').datepicker({
        format: 'yyyy-mm-dd',
        language: 'pt-BR'
    })
    </script>
{% endblock scripts %}