{% include 'pages/gerente/layout_gerente.html' %}
{% load static %}
{% block content %}
<section class="section-baristas shadow">
    <form class="d-flex " method="get">
        <h5><b>Painel de Baristas</b></h5>
        <section class="ms-auto my-auto me-3">
            <input style="text-indent:35px;" type="search" class="form-control justify-content-end" name="q"><i class="fas fa-search pesquisa_historico"></i>
        </section>
        <a href="{% url 'barista:cadastro_baristas' %}" class="btn btn-marrom btn-cadastrar"><i class="fa-solid fa-plus"></i> Cadastrar novo barista</a>
    </form>
    <section class="row mt-3">
        {% for barista in baristas %}
        <section class="col-sm-4">
            <section class="card-barista m-1">
                <section class="row">
                    <section class="col-sm-3"><img src="{% static 'images/' %}{{ barista.conta.foto }}" alt=""></section>
                    <section class="col-sm-9 text-center">
                        <p>{{ barista.conta.nome }}</p>
                        <p>{{ barista.cpf }}</p>
                    </section>
                </section>
                <section class="d-flex flex-row pt-0 justify-content-between">
                    <a href="{% url 'barista:editar_baristas' barista.pk %}" class="btn btn-azul w-100 me-1"><i class="fa-solid fa-user-pen"></i> Editar</a>
                    <button class="btn btn-vermelho w-100 ms-1" data-bs-toggle="modal" data-bs-target="#excluir-barista"><i class="fa-solid fa-trash-can"></i> Excluir</button>
                    <!-- Modal -->
                    <div class="modal fade" id="excluir-barista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header p-3"><h4 class="mb-1"><b>Tem certeza que deseja excluir este barista?</b></h4></div>
                                <div class="modal-body">
                                    <p class="bg-white">Após a confirmação, todos os dados serão excluídos permanentemente.</p>
                                </div>
                                <form class="modal-footer" action="{% url 'barista:excluir_barista' barista.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-vermelho" data-bs-dismiss="modal"><b>Cancelar</b></button>
                                    <button type="submit" class="btn btn-verde" ><b>Confirmar</b></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        {% endfor %}
    </section>
    {% include '../../partials/pagination.html' %}
</section>

{% endblock content %}